html {
  height: 100%;
  width: 100%;
}
body {
  font-family: Lato, 'Helvetica Neue', 'Arial', sans-serif;
  height: 100%;
  width: 100%;
}
.banner {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
}
@media(min-width:767px) {
  .banner {
    height: 100%;
    padding: 0;
  }
}
.banner-body {
  display: table-cell;
  vertical-align: middle;
}
.banner-title {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  color: #00b3fe;
  -webkit-animation: fadein 1s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s;
  /* Firefox < 16 */
  -ms-animation: fadein 1s;
  /* Internet Explorer */
  -o-animation: fadein 1s;
  /* Opera < 12.1 */
  animation: fadein 1s;
}
.banner-subtitle {
  font-weight: 300;
  margin: 0;
  -webkit-animation: fadein 3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s;
  /* Firefox < 16 */
  -ms-animation: fadein 3s;
  /* Internet Explorer */
  -o-animation: fadein 3s;
  /* Opera < 12.1 */
  animation: fadein 3s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Opera < 12.1 */

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.about-div-2 {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
.about-container {
  width: 100%;
  display: table;
  height: 100%;
}
#about-text {
  font-weight: 300;
  font-size: 22px;
}
#about {
  height: 100%;
  width: 100%;
}
#about-pic {
  max-height: 80%;
  max-width: 80%;
}
.portfolio-img {
  max-height: 90%;
  max-width: 90%;
}
.portfolio-item {
  height: 50%;
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
  /*  float:left;*/
}
#projects {
  width: 100%;
  min-height: 100%;
  float: left;
  text-align: center;
}
@media (min-width: 768px) {
  .portfolio-item-caption {
    /*    font-weight:300;*/
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
}
#about-right {
  float: left;
}
@media only screen and (min-width: 960px) {
  #about-right {
  padding-right:5%;
  }
}
#about-left {
  text-align: center;
}
.outer {
  height: 100%;
  display: table;
}
.inner {
  display: table-cell;
  vertical-align: middle;
}
.footer {
  /*
  position:absolute;
  bottom:0;
*/
  margin-top: 20px;
  width: 100%;
  height: 60px;
  background-color: #00b3fe;
  float: left;
  display: table;
}
#footer-container {
  padding-left: 50px;
  padding-right: 50px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#name-footer {
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
}
#return-top {
  vertical-align: middle;
  display: table-cell;
  color: white;
}
#page-top {
  padding-top: 100px;
  color: white;
}